/*
 * (C) Copyright 2016 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/dts-v1/;
#include "rk3328.dtsi"
#include "rk3328-sdram-ddr3-666.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "AtGames Legends HA8801";
	compatible = "rockchip,rk3328-evb", "rockchip,rk3328";

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	vcc_1v8: vcc-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc_ddr";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
	};

	vdd_1v0: vdd-1v0 {
		compatible = "regulator-fixed";
		regulator-name = "vdd_1v0";
		regulator-min-microvolt = <1000000>;
		regulator-max-microvolt = <1000000>;
		regulator-always-on;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm0 0 5000 1>;
		regulator-name = "vcc_arm";
		regulator-min-microvolt = <954000>;
		regulator-max-microvolt = <1395000>;
		regulator-settling-time-up-us = <250>;
		regulator-always-on;
		regulator-boot-on;
		regulator-init-microvolt = <10000000>;
	};

	vdd_logic: vdd-logic {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 1>;
		regulator-name = "vdd_logic";
		regulator-min-microvolt = <919000>;
		regulator-max-microvolt = <1317000>;
		regulator-settling-time-up-us = <250>;
		regulator-always-on;
		regulator-boot-on;
		regulator-init-microvolt = <10000000>;
	};

	vcc_otg_5v: vcc-otg-5v {
		compatible = "regulator-fixed";
		gpio = <&gpio0 0 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb20_otg_drv>;
		regulator-name = "vcc_otg_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-boot-on;
	};

	vcc_usb20_5v: vcc-usb20-5v {
		compatible = "regulator-fixed";
		gpio = <&gpio3 8 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb20_host_drv>;
		regulator-name = "vcc_usb20_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-boot-on;
	};

	vcc_host_5v: vcc-host-5v {
		compatible = "regulator-fixed";
		gpio = <&gpio3 2 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb30_host_drv>;
		regulator-name = "vcc_host_5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		regulator-boot-on;
	};

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};

	mcu_dfu: mcu-dfu {
		compatible = "regulator-fixed";
		regulator-name = "mcu-dfu";
		pinctrl-names = "default";
		pinctrl-0 = <&mcu_dfu_en>;
		status = "okay";
		regulator-boot-on;
	};

	mcu: mcu {
		compatible = "regulator-fixed";
		regulator-name = "mcu";
		pinctrl-names = "default";
		pinctrl-0 = <&mcu_pwren>;
		status = "okay";
		//regulator-boot-on;
	};

	usb_hub: usb-hub {
		compatible = "regulator-fixed";
		regulator-name = "usb_hub";
		pinctrl-names = "default";
		pinctrl-0 = <&usb_hub_pwren>;
		status = "okay";
		regulator-boot-on;
	};

	mcu_gpio_wired_pin: mcu-gpio-wired-pin {
		compatible = "regulator-fixed";
		regulator-name = "mcu_gpio_wired_pin";
		pinctrl-names = "default";
		pinctrl-0 = <&mcu_gpio_wired_pins>;
		status = "okay";
		//regulator-boot-on;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&cpu1 {
	cpu-supply = <&vdd_arm>;
};

&cpu2 {
	cpu-supply = <&vdd_arm>;
};

&cpu3 {
	cpu-supply = <&vdd_arm>;
};

&crypto {
	status = "okay";
};

&io_domains {
	status = "okay";
	vccio1-supply = <&vcc_io>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vcc_io>;
	vccio4-supply = <&vcc_io>;
	vccio5-supply = <&vcc_io>;
	vccio6-supply = <&vcc_io>;
	pmuio-supply = <&vcc_io>;
};

&emmc {
	max-frequency = <120000000>;
	mmc-hs200-1_8v;
	bus-width = <8>;
	cap-mmc-highspeed;
	supports-emmc;
	disable-wp;
	non-removable;
	num-slots = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk &emmc_cmd &emmc_bus8>;
	status = "okay";
};

&pinctrl {
	pwm0 {
		pwm0_pin_pull_up: pwm0-pin-pull-up {
			rockchip,pins = <2 RK_PA4 1 &pcfg_pull_up>;
		};
	};

	pwm1 {
		pwm1_pin_pull_up: pwm1-pin-pull-up {
			rockchip,pins = <2 RK_PA5 1 &pcfg_pull_up>;
		};
	};

	usb {
		usb20_otg_drv: usb20-otg-drv {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb20_host_drv: usb20-host-drv {
			rockchip,pins = <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb30_host_drv: usb30-host-drv {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lt8631{
		lt8631_control_pin: lt8631-control-pin {
			rockchip,pins = <1 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>,
					<1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	mcu_dfu {
		mcu_dfu_en: mcu-dfu-en {
			rockchip,pins = <2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	mcu {
		mcu_pwren: mcu-pwren {
			rockchip,pins = <3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb_hub_pin {
		usb_hub_pwren: usb-hub-pwren {
			rockchip,pins = <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	mcu_gpio_wired_pin {
		mcu_gpio_wired_pins: mcu-gpio-wired-pins {
			rockchip,pins =
				<1 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none>,
				<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>,
 				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	lt8631ux: lt8631ux@5a {
		compatible = "lontium,lt8631ux";
		reg = <0x5a>;
		lt8631_pwrdn-gpio = <1 RK_PA3 GPIO_ACTIVE_HIGH>;
		lt8631_reset-gpio = <1 RK_PB3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lt8631_control_pin>;
	};
};

&gmac2phy {
	phy-supply = <&vcc_phy>;
	assigned-clocks = <&cru SCLK_MAC2PHY_SRC>;
	assigned-clock-rate = <50000000>;
	assigned-clocks = <&cru SCLK_MAC2PHY>;
	assigned-clock-parents = <&cru SCLK_MAC2PHY_SRC>;
	clock_in_out = "output";
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&u2phy_host {
	status = "okay";
};

&u3phy {
	//vbus-supply = <&vcc_host_5v>;
	status = "okay";
};

&u3phy_utmi {
	status = "okay";
};

&u3phy_pipe {
	status = "okay";
};

&usb_host0_ehci {
	//vbus-supply = <&vcc_otg_5v>;
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb20_otg {
	//vbus-supply = <&vcc_otg_5v>;
	dr_mode = "host";
	status = "okay";
};

&usbdrd3 {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "host";
	status = "okay";
};

&pwm0 {
	pinctrl-0 = <&pwm0_pin_pull_up>;
	status = "okay";
};

&pwm1 {
	pinctrl-0 = <&pwm1_pin_pull_up>;
	status = "okay";
};
